{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='{{asset('css/register.css')}}'>
{% endblock %}

{% block body %}
    <h1>Register</h1>
    <div id='register_container'>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div>
                {{ form_row(registrationForm.username) }}
            </div>
            <div>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            <div>
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
