{% extends 'base.html.twig' %}

{% block title %}Hello InfosController!{% endblock %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='{{asset('css/accueil.css')}}'>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<p>
    {{titre}}
</p>
<p>
    {{description}}
</p>
<p>
    {{image}}
</p>
<p>
    {{site}}
</p>
<p>
    {{lien}}
</p>
<p>
    {{statut}}
</p>
<p>
    {% if statut == '1' %}
        <p class='mb'>état : en cour de parrution</p>
            <p>diffusion le 
                        
                {# affichage du jour #}
                {% if day == 1 %}
                    lundi
                {% elseif day == 2 %}
                    mardi
                {% elseif day == 3 %}
                    mercredi
                {% elseif day == 4 %}
                    jeudi
                {% elseif day == 5 %}
                    vendredi
                {% elseif day == 6 %}
                    samedi
                {% else %}
                    dimanche
                {% endif %}
 
                    à</p>
                    <p>{{hour|date('h:i A')}} sur {{site}}</p>
                {% else %}
                    <p class='mb'>état : sortit</p>
                    <p>disponible sur {{site}}</p>
                {% endif %}
</p>
<p>
    {{hour}}
</p>
<p>
    {{episodes}}
</p>

{% endblock %}
