<nav>
   <div id="nav-left">
        <img id="logo" src="{{asset('images/logo.png')}}">
        <a href="{{ path('app_home_page') }}">accueil</a>
        <a href="">sortie du jour</a>
        <a href="">calendrier des sortie</a>
    </div>
    
    <div id="nav-right">
        {% if app.user %}    
            connecter en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">me deconnecter</a>    
        {% endif %}
        {% if app.user == null %}
            <a href="{{ path('app_login') }}">connexion</a>
        {% endif %}
    </div>
</nav>